!!!
%html{'ng-app' => 'Counterparties'}
  %head
    %title ActiveAccounting
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "//code.jquery.com/ui/1.10.4/jquery-ui.js"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield
